<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>
    <style>
        body { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align:center; 
        }
        div { 
            border: 1px solid black;
            padding: 1%;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>자기 소개 페이지</h1>
    <div>
        안녕하세요. 제 이름은 정지윤 입니다. 만나서 반갑습니다.<br><br>
        저는 멋사에서 백엔드 개발을 배우고 있습니다.<br><br>
        저의 취미는 ⭐누워서 OTT⭐ 보기 입니다<br>
        최근에는 '여고추리반'을 재밌게 보고 있습니다
    </div>
</body>
</html>